
body {
  color: #444444;
  background-color: #ffffff;
}

#page {
  background-color: #f5efdd;
}

a:link {
  color: #8ea447;
}
a:visited {
  color: #8ea447;
}
a:hover,
a:focus,
a:active {
  color: #8ea447;
}

h1, h2, h3, h4, h5, h6,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
  color: #ba4f26;
}

td,
fieldset,
textarea {
  border-color: #cccccc;
}
tr.even {
  background-color: #f6f6f0;
}
tr.odd {
  background-color: #ffffff;
}

html.js table.sticky-enabled,
#autocomplete {
  -webkit-box-shadow: 0 .1em .2em #aaaaaa;
     -moz-box-shadow: 0 .1em .2em #aaaaaa;
          box-shadow: 0 .1em .2em #aaaaaa;
}
html.js table.sticky-header {
  -webkit-box-shadow: 0 .2em .2em #aaaaaa;
     -moz-box-shadow: 0 .2em .2em #aaaaaa;
          box-shadow: 0 .2em .2em #aaaaaa;
}
