body, html {
  min-height: 100%;
}

body {
  padding: 0;
  margin:  0;
  background: #d55a28 url('../images/bg.jpg') no-repeat center bottom fixed;
}

body#tinymce {
  background: #fff;
}

#page {
  margin:  0 auto;
  max-width: 1200px;
  padding: 1em;
}

img, embed, object, video, frame {
  max-width: 100%;
}

ul {
 padding-left: 0;
}

input, select, textarea {
  border: 1px solid #ccc;
}

#edit-submit {
  background: none repeat scroll 0 0 #8EA447;
  color: #fff;
  padding: 2px 7px;
}

#site-header,
#page-header,
#page-main,
#main-content,
.site-navigation,
.content-header,
.content,
.region,
.node {
  margin-bottom: 1.5em;
}

#page-main {
  margin-top: 1.5em;
}

.site-id,
.site-slogan,
.region-header,
.region-footer,
.region-footer .content,
.region-page-top,
.region-page-bottom {
  margin: 0;
}

.site-branding {
  float: left;       /* LTR */
  margin-right: 1em; /* LTR */
  margin-top: 1em;
  max-width: 100%;
}
.site-navigation {
  float: right;
  clear: right;
  margin-bottom: 0;
  text-align: right;
}
.site-navigation ul.links.inline {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.site-navigation ul.links.inline a {
  text-decoration: none;
}
.region-header {
  clear: right; /* LTR */
  float: right; /* LTR */
  margin-bottom: 1em;
}
.site-id {
  padding-top: .5em;
}
.site-id a {
  text-decoration: none;
}
.site-id .logo {
  float: left;         /* LTR */
  margin-right: .25em; /* LTR */
  margin-top: -.5em;
  margin-bottom: .5em;
}
.site-id .site-slogan {
  font-size: .6em;
     clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    text-align: center;
}

.region-header ul.menu,
#site-header,
#page {
  padding-top: 0;
  margin-top: 0;
}

#site-header {
  margin-bottom: 0.5em;
}

.region-header ul.menu li.leaf {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.region-header ul.menu li a {
  background: url('../images/nav_sprite.png') no-repeat center top;
  color: #8ea447;
  display: inline-block;
  padding-top: 80px;
  width: 105px;
  text-align: center;
}

.region-header ul.menu li a.micro-alcohol-free {
  background-position: 50% -249px;
}
.region-header ul.menu li a.micro-family-friendly {
  background-position: 50% -623px;
}
.region-header ul.menu li a.micro-liquor-centric {
  background-position: 50% -374px;
}
.region-header ul.menu li a.active.micro-alcohol-free,
.region-header ul.menu li a.micro-alcohol-free:hover {
  background-position: 50% -125px;
}
.region-header ul.menu li a.active.micro-family-friendly,
.region-header ul.menu li a.micro-family-friendly:hover {
  background-position: 50% -499px; width:
}
.region-header ul.menu li a.active.micro-liquor-centric,
.region-header ul.menu li a.micro-liquor-centric:hover {
  background-position: 50% 0;
}

.site-navigation a,
.site-navigation a.active {
  color: #ba4f26;
}
.site-navigation a:hover {
  color: #eeb05b;
}

#green-top {
  background-color: #a2b64f;
  display: block;
  height: 10px;
  width: 100%;
  overflow: visible;
  position: relative;
}
#green-bottom {
  background-color: #8ea447;
  display: block;
  height: 10px;
  width: auto;
  margin: 0 15px;
  overflow: visible;
  position: relative;
}

#green-top:before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 10px 0;
  border-color: transparent #a2b64f transparent transparent;
  content:"";
  position: absolute;
  left: -15px;
}
#green-top:after {
  width: 0px;
  height: 0px;
  border-style: solid inset inset inset;
  border-width: 10px 15px 0 0;
  border-color: #a2b64f transparent transparent transparent;
  content:"";
  position: absolute;
  right: -15px;
}
#green-bottom:before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 10px 0;
  border-color: transparent #8ea447 transparent transparent;
  content:"";
  position: absolute;
  left: -15px;
}
#green-bottom:after {
  width: 0px;
  height: 0px;
  border-style: solid inset inset inset;
  border-width: 10px 15px 0 0;
  border-color: #8ea447 transparent transparent transparent;
  content:"";
  position: absolute;
  right: -15px;
}

ul.pager,
ul.pager li {
  display:inline;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1336px) {
  #page {
    margin: 0 4%;
  }
}

@media screen and (max-width: 860px) {
  .site-branding {
    width: 50%;
  }
  .region-header ul.menu li a {
    width: 102px;
  }
  .site-id .site-slogan {
    margin-bottom: 1em;
  }
  .site-navigation {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .site-branding {
    margin-bottom: 1em;
    width: 100%;
  }
  .site-id .logo {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .region-header .content {
    margin-bottom: 0.5em;
  }
  .region-header ul.menu {
    margin-bottom: 0;
  }
  .site-navigation ul.links.inline {
    margin-top: 0;
  }
  .region-header {
    width: 100%;
  }
  .region-header ul.menu li.leaf a {
    width: 32%;
  }
}

@media screen and (max-width: 400px) {
  #page {
    margin: 0;
  }
}